<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--Title-->
    <title>Where is Parking!</title>
  </head>
  <body>
    <main class="container-fluid">
      <div class="row">
        <div class="col-8 overflow-hidden vh-100 text-light" style="background-color: #121212;">
          <div class="container-fluid pt-5">
            <div class="row pt-5 align-items-start">
              <div class="col-12">
                <h1 style="font-size: 22px;"><strong>Do you ask <u>Where is Parking</u> often?</strong></h1>
                <p style="font-size: 18px;">then you are in right place. Find <strike>available</strike> parkings near you instantly</p>
              </div>
            </div>
            <div class="row pt-5 align-items-center" style="width: 1200px;">
              <div class="col-12">
                <p style="font-size: 20px;"><strong>What you need to do!</strong></p>
                <ul class="cuslist" style="font-size: 18px;">
                  <li>No account creation needed</li>
                  <li>Get your current location</li>
                  <li>Find list of parking in the results</li>
                  <li>Select your desired parking spot</li>
                  <li>Navigate and park your car</li>
                </ul>
              </div>
            </div>
            <div class="row pt-5" style="min-height: 600px;">
              <div class="col-6 pt-5 text-left lead">
                  <button id="maps" type="button" class="btn btn-outline-light btn-lg mbtn">
                    <i class="bi bi-arrow-right mbtn-ico"></i>
                    <p class="lh-sm mbtn-text"><strong>Search parking locations!</strong></p>
                    <p class="lh-sm mbtn-ptext">As a user relieve your stress search for parkings near you</p>
                  </button>
                  <button id="admin" type="button" class="btn btn-outline-light btn-lg mbtn">
                    <i class="bi bi-arrow-right mbtn-ico"></i>
                    <p class="lh-sm mbtn-text"><strong>Add parking locations!</strong></p>
                    <p class="lh-sm mbtn-ptext">As a admin add parking points onto awesome database</p>
                  </button>
              </div>
              <div class="col-6 pt-5" style="color: #242424;">
                <p class="sent text-right">WIP</p>
              </div>
            </div>
          </div>
        </div>
        <div id="img1" class="col-2 bg-dark pl-4 pt-5 bg-img" style="background-image: url('{{ url_for('static', filename='media/freepik__pixel-art-8bits-a-cityscape-featuring-empty-parkin__13689.jpeg') }}'), url('{{ url_for('static', filename='media/freepik__modern-style-detailled-illustration-wallpaper-for-__13690.jpeg') }}'); background-size: cover;">
        </div>
        <div id="img2" class="col-2 bg-dark pl-4 pt-5 b2g-img" style="background-image: url('{{ url_for('static', filename='media/freepik__pixel-art-8bits-an-aerial-view-of-a-bustling-urban__13688.jpeg') }}'); background-size: cover;">
        </div>
      </div>
    </main>  
  
    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename='/js/main.js') }}" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </body>
</html>