.navcus{
    line-height: 0.9 !important;
    font-weight: 800 !important;
    font-size: 300px !important;
    text-align: end;
}

.sent{
    line-height: 1.5 !important;
    font-weight: 900 !important;
    font-size: 300px !important;
}

