.navcus{
    line-height: 0.9 !important;
    font-weight: 800 !important;
    font-size: 300px !important;
    text-align: end;
}

.sent{
    line-height: 1.5 !important;
    font-weight: 900 !important;
    font-size: 300px !important;
}

.mbtn {
    width: 600px !important;
    display: block !important;
    margin-bottom: 30px !important;
    padding: 20px !important;
}

.mbtn-text {
    text-align: initial !important;
    margin: 0 0 5px 0 !important;
    font-size: 22px;
    font-weight: 400 !important;
}

.mbtn-ptext {
    text-align: initial !important;
    margin: 0 !important;
    font-size: 18px;
}

.mbtn-ico {
    float: right !important;
    margin: 0px auto !important;
}

.bg-img {
    animation-name: bg-img;
    animation-duration: 60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.b2g-img {
    animation-name: b2g-img;
    animation-duration: 60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.cuslist {
    list-style: none !important;
    line-height: 180% !important;
}

.cuslist li::before {
    content:"📋 " !important;
}

@keyframes bg-img{ 
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -6000px;
    }
}

@keyframes b2g-img{ 
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 6000px;
    }
}